body {
  height: 100%;
  margin: 0;
} 

#video {
  display:flex;
  float:left;
  padding-left: 3%;
  justify-content:center;
  align-items:center;
  width:720px;
  height:600px;
}

.comments {
  float: right;
}

video {
  width: 720px;
}

.rightaligntext {
  float: left;
}

.leftaligntext {
  float: right;
}

#navbar {
  overflow: auto;
  padding: 0 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}
